extends layout

block script
    script(type='text/javascript',src='https://code.jquery.com/jquery-3.3.1.min.js')

block content
    h1= title
    p Welcome to #{title}
    button(disabled=false,onclick='cheerFetch()') 抓取数据
    div.container


    script.
        var currentPage = 1; //page初始0
        function cheerFetch(){
            _page = currentPage;
            console.log('_page:',_page);

            //开始发送ajax请求至路径 /getJobs  进而作页面抓取处理
            $.ajax({ 
                data: {
                    page: _page
                }, //参数 page = _page
                dataType: "json",
                type: "get",
                url: "/crawler/getMessage",
                success: function (data) { //收到返回的json数据
                    console.log(data);
                    var table = "";
                    //- $(".container").empty();
                    if (data.jobs.length == 0) {
                        alert("Error2: 未找到数据..");
                        return;
                    }
                    for (var i = 0; i < data.jobs.length; i++) { //遍历数据并提取处理
                        var job = data.jobs[i];
                        console.log(job);

                        table += "<tr>";
                        table += "<td>" + job.name + "</td>";
                        table += "<td>" + job.wages + "</td>";
                        table += "<td>" + job.company + "</td>";
                        table += "</tr>";

                    //- html += "<div class='jobs'><p><span >岗位序号：</span>  " + ((i + 1) + 15 * (currentPage - 1)) + "</p>" +
                    //-   "<p>岗位名称：<a href='" + job.src + "'target='_blank'>" + job.name + "</a></p>" +
                    //-   "<p><span >岗位所在公司：</span>  " + job.company + "</p>" +
                    //-   "<p><span>公司阶段：</span>  " + getData(job.period) + "</p>" +
                    //-   "<p><span>岗位规模：</span>  " + getData(job.scale) + "</p>" +
                    //-   "<p><span>岗位所在城市：</span>  " + job.city + "</p>" +
                    //-   "<p><span>岗位薪资：</span>  " + getData(job.salary) + "</p>" +
                    //-   "<p><span>岗位最低经验要求：</span>  " + getData(job.exp) + "</p>" +
                    //-   "<p><span>岗位发布时间：</span>  " + getData(job.time) + "</p>" +
                    //-   "</div>"
                    }

                    $(".container").append(table); //展现至页面
                
                },
                error: function () {
                    alert("Error1: 未找到数据..");
                }
            });
        }
